<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/SistemaHospital?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">lacb2208</property>
    <mapping resource="Pojo/Sector.hbm.xml"/>
    <mapping resource="Pojo/FacturaConsulta.hbm.xml"/>
    <mapping resource="Pojo/Receta.hbm.xml"/>
    <mapping resource="Pojo/Paciente.hbm.xml"/>
    <mapping resource="Pojo/Paciente16.hbm.xml"/>
    <mapping resource="Pojo/Examen.hbm.xml"/>
    <mapping resource="Pojo/Consulta.hbm.xml"/>
    <mapping resource="Pojo/AlergiaMedicamento.hbm.xml"/>
    <mapping resource="Pojo/PadecimientoEc.hbm.xml"/>
    <mapping resource="Pojo/Especialidad.hbm.xml"/>
    <mapping resource="Pojo/PadecimientoAm.hbm.xml"/>
    <mapping resource="Pojo/DetalleFactpro.hbm.xml"/>
    <mapping resource="Pojo/DetalleFactura.hbm.xml"/>
    <mapping resource="Pojo/ProcedimientosEspeciales.hbm.xml"/>
    <mapping resource="Pojo/HorarioMedico.hbm.xml"/>
    <mapping resource="Pojo/Diagnostico.hbm.xml"/>
    <mapping resource="Pojo/EnfermedadCronica.hbm.xml"/>
    <mapping resource="Pojo/Cita.hbm.xml"/>
    <mapping resource="Pojo/FacturaExamen.hbm.xml"/>
    <mapping resource="Pojo/FacturaProcedimiento.hbm.xml"/>
    <mapping resource="Pojo/CatalogoExamen.hbm.xml"/>
    <mapping resource="Pojo/Medico.hbm.xml"/>
    <mapping resource="Pojo/DiasMedico.hbm.xml"/>
    <mapping resource="Pojo/Cajero.hbm.xml"/>
    <mapping resource="Pojo/DetalleConsulta.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
